---
import MobileNav from '@components/composite/MobileNav/MobileNav'
import Icon from '@components/base/Icon/Icon.astro'
import Logo from '@components/composite/Logo/Logo.astro'
import NavLink from '@components/composite/NavLink/NavLink.astro'
import './Header.scss'

interface NavLinkItem {
    label: string
    href: string
}

interface Props {
    logoTitle?: string
    logoSubtitle?: string
    navLinks: NavLinkItem[]
}

const { logoTitle, logoSubtitle, navLinks } = Astro.props
const currentPath = Astro.url.pathname
---

<header class='header'>
    <div class='header__inner'>
        <div class='header__logo'>
            <Logo title={logoTitle} subtitle={logoSubtitle} size="lg" tone="light" />
        </div>
        <nav class='header__nav'>
            {navLinks.map((link) => (
                <NavLink href={link.href} label={link.label} active={currentPath === link.href} />
            ))}
            <button class='header__nav-search' aria-label='Search the articles'
                ><Icon name='search' size={20} /></button
            >
        </nav>
        <button
            class='header__nav-mobile'
            aria-label='Open mobile navigation'
            data-mobile-nav-button
        >
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>

<MobileNav client:only='react' navLinks={navLinks} />

<script>
    const mobileMenuButton = document.querySelector('[data-mobile-nav-button]')

    mobileMenuButton?.addEventListener('click', () => {
        mobileMenuButton.classList.toggle('header__nav-mobile--active')
        document.dispatchEvent(new CustomEvent('toggle-mobile-nav'))
    })
</script>
