---
import ArticleCardGrid from '@components/ArticleCardGrid/ArticleCardGrid'
import Button from '@components/Button/Button.astro'
import './ArticlesSection.scss'
import type { ArticleMeta } from '@app-types/article'
import type { CTA } from '@app-types/cta'

interface Props {
    label?: string
    heading?: string
    articles: ArticleMeta[]
    showCategoryFilter?: boolean
    cta?: CTA
}

const { label, heading, articles, showCategoryFilter, cta } = Astro.props
---

<section id="articles">
    <div class="articles__container">
        <div class="articles__header">
            {label && <div class="articles__label">{label}</div>}
            {heading && <h2 class="articles__heading">{heading}</h2>}
            <div class="articles__line"></div>
        </div>

        <ArticleCardGrid client:load articles={articles} showCategoryFilter={showCategoryFilter} />

        {cta?.text && cta?.link && (
            <div class="articles__cta">
                <Button
                    variant='outline-navy'
                    onTone='light'
                    icon={false}
                    href={cta.link}
                    text={cta.text}
                    openInNewTab={cta.openInNewTab}
                />
            </div>
        )}
    </div>
</section>
