---
import Logo from '@components/Logo/Logo.astro'
import NavLink from '@components/NavLink/NavLink.astro'
import './Footer.scss'

interface NavLinkItem {
    label: string
    href: string
}

interface Props {
    logoTitle?: string
    logoSubtitle?: string
    navLinks: NavLinkItem[]
    description?: string
    topicsTitle?: string
    topics?: NavLinkItem[]
    copyright?: string
    copyrightNote?: string
}

const {
    logoTitle,
    logoSubtitle,
    navLinks,
    description,
    topicsTitle,
    topics = [],
    copyright,
    copyrightNote,
} = Astro.props
---

<footer class='footer'>
    <div class='footer__inner'>
        <div class='footer__brand'>
            <Logo title={logoTitle} subtitle={logoSubtitle} size="sm" tone="dark" />
            {description && (
                <p class='footer__brand-description'>{description}</p>
            )}
        </div>
        <div class='footer__nav-group'>
            <h4 class='footer__nav-title'>Navigate</h4>
            {navLinks.map((link) => (
                <NavLink href={link.href} label={link.label} />
            ))}
        </div>
        {topics.length > 0 && (
            <div class='footer__nav-group'>
                <h4 class='footer__nav-title'>{topicsTitle ?? 'Topics'}</h4>
                {topics.map((topic) => (
                    <NavLink href={topic.href} label={topic.label} />
                ))}
            </div>
        )}
    </div>
    <div class='footer__bottom'>
        <span>{copyright ?? '© 2010–2026 History Reconsidered, LLC'}</span>
        <span>{copyrightNote ?? 'All rights reserved'}</span>
    </div>
</footer>
