---
import './BookPreview.scss'
import type { CTA } from '@app-types/cta'

interface Props {
    label?: string
    coverLabel?: string
    title: string
    subtitle?: string
    description?: string
    cta?: CTA
}

const { label, coverLabel, title, subtitle, description, cta } = Astro.props
---

<section class="book-preview">
    <div class="book-preview__container">
        <div class="book-preview__inner">
            <div class="book-preview__cover">
                {coverLabel && <div class="book-preview__cover-label">{coverLabel}</div>}
                <div class="book-preview__cover-title">{title}</div>
                {subtitle && <div class="book-preview__cover-author">{subtitle}</div>}
            </div>
            <div class="book-preview__info">
                {label && <div class="book-preview__info-label">{label}</div>}
                <h3>{title}</h3>
                {description && <p>{description}</p>}
                {cta?.text && (
                    <a href={cta.link ?? '/book'} class="book-preview__cta" {...(cta.openInNewTab && { target: '_blank', rel: 'noopener noreferrer' })}>{cta.text}</a>
                )}
            </div>
        </div>
    </div>
</section>
